/*--------------------------------------------------------------------- File Name: responsive.css ---------------------------------------------------------------------*/


/*------------------------------------------------------------------- 991px x 768px ---------------------------------------------------------------------*/

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .header-search {
        padding: 15px 0px;
    }
}


/*------------------------------------------------------------------- 767px x 599px ---------------------------------------------------------------------*/

@media only screen and (min-width: 599px) and (max-width: 767px) {
    .logo {
        text-align: center;
    }
    .cart-content-right {
        padding-bottom: 5px;
    }
    .mg {
        margin: 0px 0px;
    }
    .menu-area-main {
        height: 256px;
        overflow-y: auto;
    }
    .megamenu>.row [class*="col-"] {
        padding: 0px;
    }
    .menu-area-main .megamenu .men-cat {
        padding: 0px 15px;
    }
    .menu-area-main .megamenu .women-cat {
        padding: 0px 15px;
    }
    .menu-area-main .megamenu .el-cat {
        padding: 0px 15px;
    }
    .mean-container .mean-nav ul li a.mean-expand {
        height: 19px;
    }
    .category-box.women-box {
        display: none;
    }
    .cart-box {
        display: inline-block;
        margin: 0px 30px;
    }
    .wish-box {
        float: none;
        margin: 0px 30px;
        display: inline-block;
    }
    .menu-add {
        display: none;
    }
    .category-box {
        display: none;
    }
    .mean-container .mean-nav ul li ol {
        padding: 0px;
    }
    .mean-container .mean-nav ul li a {
        padding: 10px 20px;
        width: 94.8%;
    }
    .mean-container .mean-nav ul li li a {
        width: 92%;
        padding: 1em 4%;
    }
    .mean-container .mean-nav ul li li li a {
        width: 100%;
    }
    .header-search {
        padding: 15px 0px;
    }
    #collapseFilter.d-md-block {
        padding: 30px 0px;
    }
}


/*------------------------------------------------------------------- 599px x 280px ---------------------------------------------------------------------*/

@media only screen and (min-width: 280px) and (max-width: 599px) {
    .cart-content-right {
        padding-bottom: 5px;
    }
    .megamenu>.row [class*="col-"] {
        padding: 0px;
    }
    .menu-area-main .megamenu .men-cat {
        padding: 0px 15px;
    }
    .menu-area-main .megamenu .women-cat {
        padding: 0px 15px;
    }
    .menu-area-main .megamenu .el-cat {
        padding: 0px 15px;
    }
    .mean-container .mean-nav ul li a {
        padding: 1em 4%;
        width: 92%;
    }
    .mean-container .mean-nav ul li li a {
        width: 90%;
        padding: 1em 5%;
    }
    .mean-container .sub-full.megamenu-categories ol li a {
        padding: 5px 0px;
        text-transform: capitalize;
        width: 100%;
    }
    .megamenu .sub-full.megamenu-categories .women-box .banner-up-text a {
        width: auto;
        border: none;
        float: none;
    }
    .menu-area-main {
        height: 45px;
        overflow-y: auto;
    }
    .mean-container .mean-nav ul li a.mean-expand {
        top: 0;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .titlepage h2::after {
        width: 58%;
    }
    .about-box .titlepage h2::after {
        width: 52%;
        right: -221px;
    }
    .Nursery-img .text-box h3 {
        padding: 111px 50px;
    }
    .logo {
        width: 65%;
    }
    .font_size_90 {
        font-size: 50px;
    }
    .banner_taital {
        font-size: 40px;
    }
    .taital_main {
        padding-left: 120px;
    }
    #my_slider a.carousel-control-prev {
        left: 45px;
        top: 47%;
    }
    #my_slider a.carousel-control-next {
        left: 77px;
        top: 66%;
    }
    .button_main {
        width: 60%;
        margin-top: 30px;
    }
    .fashion_text {
        padding-bottom: 25px;
        font-size: 13px;
    }
    .category_text {
        font-size: 20px;
    }
    .readable_text {
        font-size: 27px;
    }
    .client_section::before {
        margin-left: 90px;
    }
    #main_slider a.carousel-control-next {
        right: 110px;
    }
    .banner_section {
        padding-bottom: 10px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .main-menu ul>li a {
        padding: 7px 6px;
    }
    .main-menu ul>li a {
        font-size: 14px;
    }
    .banner-main .carousel-caption h1 {
        font-size: 36px;
        padding-top: 0px;
    }
    .banner-main .carousel-caption p {
        margin-bottom: 7px;
        display: none;
    }
    .search_section {
        display: none;
    }
    .logo {
        width: 50%;
    }
    .header_section {
        background-size: cover;
    }
    .font_size_90 {
        font-size: 40px;
    }
    .banner_taital {
        font-size: 30px;
    }
    .image_1 {
        padding-top: 30px;
    }
    .button_main {
        display: none;
    }
    #my_slider a.carousel-control-prev {
        left: 10px;
        top: 52%;
    }
    #my_slider a.carousel-control-next {
        position: absolute;
        left: 40px;
    }
    .taital_main {
        padding-left: 80px;
    }
    .banner_section {
        padding-bottom: 90px;
        padding-top: 30px;
    }
    .banner_text {
        font-size: 14px;
    }
    .main {
        display: initial;
    }
    .category_text {
        padding-bottom: 40px;
    }
    .category_section {
        border-radius: 10px;
        padding-bottom: 30px;
    }
    .bed_text {
        padding-top: 20px;
    }
    .beds_section {
        margin-top: 30px;
    }
    .beauty_box_1 {
        margin-top: 20px;
    }
    .image_3 {
        width: 100%;
    }
    .bed_text_1 {
        text-align: center;
    }
    .feature_taital {
        font-size: 26px;
    }
    .readable_text {
        font-size: 18px;
    }
    .image_8 {
        width: 83%;
    }
    .client_section::before {
        display: none;
    }
    .client_section_2 {
        width: 100%;
        margin-left: 0px;
        padding: 25px;
        margin-top: 50px;
    }
    .client_section {
        padding-bottom: 90px;
    }
    .input-group {
        width: 100%;
    }
    .input-group-text {
        padding: 8px 30px;
        font-size: 14px;
    }
    .dummy_text {
        width: 100%;
    }
    .navbar {
        padding: .5rem 0px;
    }
    .many_text {
        line-height: 32px;
        width: 34%;
    }
    .box_main {
        width: 20%;
    }
    .fashion_text {
        font-size: 14px;
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    .last {
        display: none;
    }
    .banner-main .carousel-caption {
        top: 0%;
    }
    .titlepage h2 {
        font-size: 42px;
        display: block;
    }
    #main_slider a.carousel-control-prev {
        position: absolute;
        left: 30px;
    }
    .btn_main {
        margin-top: 58px;
        width: 80%;
    }
    #main_slider a.carousel-control-next {
        position: absolute;
        right: 30px;
    }
    .btn-primary {
        margin-top: 0px;
        margin-left: -7px;
    }
    .menu_main {
        width: 95%;
    }
    .banner-main .carousel-caption h1 {
        font-size: 50px;
    }
    .titlepage h2::after {
        width: 88%;
    }
    .about-box .titlepage h2::after {
        width: 45%;
        right: -281px;
    }
    .search_section {
        display: none;
    }
    .logo {
        width: 50%;
    }
    .header_section {
        background-size: cover;
        background: #4d33de;
    }
    .font_size_90 {
        font-size: 40px;
    }
    .banner_taital {
        font-size: 30px;
    }
    .image_1 {
        padding-top: 30px;
    }
    .button_main {
        display: none;
    }
    #my_slider .carousel-control-prev {
        display: none;
    }
    #my_slider .carousel-control-next {
        display: none;
    }
    .banner_section {
        padding-bottom: 90px;
    }
    .main {
        display: initial;
    }
    .category_text {
        padding-bottom: 40px;
    }
    .category_section {
        border-radius: 10px;
    }
    .beds_section {
        margin-top: 30px;
    }
    .beauty_box_1 {
        margin-top: 20px;
    }
    .image_3 {
        width: 100%;
    }
    .bed_text_1 {
        text-align: center;
    }
    .feature_taital {
        font-size: 26px;
    }
    .readable_text {
        font-size: 12px;
    }
    .image_8 {
        width: 83%;
    }
    .client_section::before {
        display: none;
    }
    .client_section_2 {
        width: 100%;
        margin-left: 0px;
        padding: 25px;
        margin-top: 50px;
    }
    #main_slider a.carousel-control-prev {
        display: none;
    }
    #main_slider a.carousel-control-next {
        display: none;
    }
    .client_section {
        padding-bottom: 90px;
    }
    .newsletter_taital {
        font-size: 30px;
    }
    .input-group {
        width: 100%;
    }
    .input-group-text {
        padding: 8px 30px;
        font-size: 14px;
    }
    .dummy_text {
        width: 100%;
    }
    .navbar {
        padding: .5rem 0px;
    }
    .many_text {
        line-height: 32px;
    }
    .fashion_text {
        font-size: 20px;
    }
}

@media (max-width: 575px) {
    .last {
        display: none;
    }
    .carousel-caption {
        display: none;
    }
    .header {
        padding-top: 0px;
    }
    .btn-primary {
        max-width: 126px;
        margin-right: 2px;
        font-size: 14px;
    }
    .banner-main .carousel-caption h1 {
        font-size: 30px;
        line-height: 38px;
    }
    .search_section {
        display: none;
    }
    .logo {
        width: 50%;
    }
    .header_section {
        background-size: cover;
        background: #4d33de;
    }
    .font_size_90 {
        font-size: 40px;
    }
    .banner_taital {
        font-size: 30px;
    }
    .image_1 {
        padding-top: 30px;
    }
    .button_main {
        display: none;
    }
    #my_slider .carousel-control-prev {
        display: none;
    }
    #my_slider .carousel-control-next {
        display: none;
    }
    .banner_section {
        padding-bottom: 90px;
    }
    .main {
        display: initial;
    }
    .category_text {
        padding-bottom: 40px;
    }
    .category_section {
        border-radius: 10px;
    }
    .beds_section {
        margin-top: 30px;
    }
    .beauty_box_1 {
        margin-top: 20px;
    }
    .image_3 {
        width: 100%;
    }
    .bed_text_1 {
        text-align: center;
    }
    .feature_taital {
        font-size: 26px;
    }
    .readable_text {
        font-size: 20px;
    }
    .image_8 {
        width: 100%;
    }
    .client_section::before {
        display: none;
    }
    .client_section_2 {
        width: 100%;
        margin-left: 0px;
        padding: 25px;
        margin-top: 0px;
    }
    #main_slider a.carousel-control-prev {
        display: none;
    }
    #main_slider a.carousel-control-next {
        display: none;
    }
    .client_section {
        padding-bottom: 90px;
    }
    .newsletter_taital {
        font-size: 30px;
    }
    .input-group {
        width: 100%;
    }
    .input-group-text {
        padding: 8px 10px;
        font-size: 14px;
    }
    .dummy_text {
        width: 100%;
    }
    .navbar {
        padding: .5rem 0px;
    }
    .fashion_text {
        font-size: 20px;
    }
}

