/*--------------------------------------------------------------------- File Name: style.css ---------------------------------------------------------------------*/


/*--------------------------------------------------------------------- import Fonts ---------------------------------------------------------------------*/

@import url('https://fonts.googleapis.com/css?family=Rajdhani:300,400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');
@import url('https://fonts.googleapis.com/css?family=Raleway:100,400,600,700,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Baloo+Chettan&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,600i,700,700i,800&display=swap');

/*****---------------------------------------- 1) font-family: 'Rajdhani', sans-serif;
 2) font-family: 'Poppins', sans-serif;
 ----------------------------------------*****/


/*--------------------------------------------------------------------- import Files ---------------------------------------------------------------------*/

@import url(animate.min.css);
@import url(normalize.css);
@import url(icomoon.css);
@import url(font-awesome.min.css);
@import url(meanmenu.css);
@import url(owl.carousel.min.css);
@import url(swiper.min.css);
@import url(slick.css);
@import url(jquery.fancybox.min.css);
@import url(jquery-ui.css);
@import url(nice-select.css);

/*--------------------------------------------------------------------- skeleton ---------------------------------------------------------------------*/

* {
     box-sizing: border-box !important;
}

.container {
     max-width: 1170px;
}

html {
     scroll-behavior: smooth;
}

body {
     color: #666666;
     font-size: 14px;
     font-family: 'Poppins', sans-serif;
     line-height: 1.80857;
     font-weight: normal;
}

a {
     color: #1f1f1f;
     text-decoration: none !important;
     outline: none !important;
     -webkit-transition: all .3s ease-in-out;
     -moz-transition: all .3s ease-in-out;
     -ms-transition: all .3s ease-in-out;
     -o-transition: all .3s ease-in-out;
     transition: all .3s ease-in-out;
}

h1,
h2,
h3,
h4,
h5,
h6 {
     letter-spacing: 0;
     font-weight: normal;
     position: relative;
     padding: 0 0 10px 0;
     font-weight: normal;
     line-height: normal;
     color: #111111;
     margin: 0
}

h1 {
     font-size: 24px;
}

h2 {
     font-size: 22px;
}

h3 {
     font-size: 18px;
}

h4 {
     font-size: 16px
}

h5 {
     font-size: 14px
}

h6 {
     font-size: 13px
}

*,
*::after,
*::before {
     -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
     box-sizing: border-box;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
     color: #212121;
     text-decoration: none!important;
     opacity: 1
}

button:focus {
     outline: none;
}

ul,
li,
ol {
     margin: 0px;
     padding: 0px;
     list-style: none;
}

p {
     margin: 0px;
     font-weight: 500;
     font-size: 15px;
     line-height: 24px;
}

a {
     color: #222222;
     text-decoration: none;
     outline: none !important;
}

a,
.btn {
     text-decoration: none !important;
     outline: none !important;
     -webkit-transition: all .3s ease-in-out;
     -moz-transition: all .3s ease-in-out;
     -ms-transition: all .3s ease-in-out;
     -o-transition: all .3s ease-in-out;
     transition: all .3s ease-in-out;
}

img {
     max-width: 100%;
     height: auto;
}

 :focus {
     outline: 0;
}

.btn-custom {
     margin-top: 20px;
     background-color: transparent !important;
     border: 2px solid #ddd;
     padding: 12px 40px;
     font-size: 16px;
}

.lead {
     font-size: 18px;
     line-height: 30px;
     color: #767676;
     margin: 0;
     padding: 0;
}

.form-control:focus {
     border-color: #ffffff !important;
     box-shadow: 0 0 0 .2rem rgba(255, 255, 255, .25);
}

.navbar-form input {
     border: none !important;
}

.badge {
     font-weight: 500;
}

blockquote {
     margin: 20px 0 20px;
     padding: 30px;
}

button {
     border: 0;
     margin: 0;
     padding: 0;
     cursor: pointer;
}

.full {
     float: left;
     width: 100%;
}

.full {
     width: 100%;
     float: left;
     margin: 0;
     padding: 0;
}


/**-- heading section --**/


/*---------------------------- preloader area ----------------------------*/

.loader_bg {
     position: fixed;
     z-index: 9999999;
     background: #fff;
     width: 100%;
     height: 100%;
}

.loader {
     height: 100%;
     width: 100%;
     position: absolute;
     left: 0;
     top: 0;
     display: flex;
     justify-content: center;
     align-items: center;
}

.loader img {
     width: 280px;
}


/*-- header area --*/


/*--------------------------------------------------------------------- top banner area ---------------------------------------------------------------------*/

.logo a img {
     position: relative;
     z-index: 9999;
}

.logo::before {
     position: absolute;
     content: "";
     top: -35px;
     background: url(../images/lo_be1.png);
     width: 390px;
     height: 197px;
     left: -30px;
     background-repeat: no-repeat;
}


/*-- navigation--*/

.navigation.navbar {
     float: right;
     padding-top: 3px !important;
     padding: 0;
}

.navigation.navbar-dark .navbar-nav .nav-link {
     padding: 9px 22px;
     color: #fff;
     font-size: 16px;
     line-height: 20px;
     font-weight: 500;
     text-transform: uppercase;
}

.navigation.navbar-dark .navbar-nav .nav-link:focus,
.navigation.navbar-dark .navbar-nav .nav-link:hover {
     color: #000;
}

.navigation.navbar-dark .navbar-nav .active>.nav-link,
.navigation.navbar-dark .navbar-nav .nav-link.active,
.navigation.navbar-dark .navbar-nav .nav-link.show,
.navigation.navbar-dark .navbar-nav .show>.nav-link {
     color: #000;
}

.navbar-expand-md .navbar-nav {
     padding-right: 10px;
}

.header {
     width: 100%;
     height: 74px;
     padding: 15px 30px;
     background-color: #ff3556e3;
}


/** banner section **/

.full_bg {
     background: url(../images/banner2.jpg);
     background-size: 100% 100%;
     background-position: center;
     background-repeat: no-repeat;
     padding-top: 20px;
}

.banner_main {
     position: relative;
     padding-bottom: 110px;
}

.text_box {
     text-align: left;
     padding-top: 36%;
}

.text_box span {
     color: #000;
     font-size: 28px;
     line-height: 20px;
     font-weight: bold;
     padding-bottom: 15px;
     display: block;
}

.text_box h1 {
     font-size: 91px;
     font-weight: 500;
     color: #ff3556;
     margin-bottom: 50px;
     line-height: 87px;
}

.text_box h1 strong {
     font-size: 79px;
     font-weight: 500;
     line-height: 78px;
}


/** end banner section **/

.titlepage {
     text-align: center;
     padding-bottom: 40px;
}

.titlepage h2 {
     font-size: 50px;
     color: #121212;
     line-height: 45px;
     font-weight: bold;
     padding-bottom: 10px;
}

.titlepage h2::before {
     position: absolute;
     content: "";
     background-color: #ff3556;
     width: 78px;
     height: 3px;
     bottom: 0px;
}

.titlepage span {
     font-size: 17px;
     line-height: 25px;
     color: #0a0a0a;
     padding-top: 20px;
     display: block;
}

.d_flex {
     display: flex;
     align-items: center;
     flex-wrap: wrap;
}

.read_more {
     font-size: 17px;
     background-color: #000;
     color: #fff;
     padding: 12px 0px;
     width: 100%;
     max-width: 204px;
     text-align: center;
     display: inline-block;
     transition: ease-in all 0.5s;
     font-weight: 500;
     height: 54px;
}

.read_more:hover {
     background: #ff3556;
     color: #fff;
     transition: ease-in all 0.5s;
     border-radius: 30px;
}


/** about section **/

.about {
     background-color: #fff;
     padding: 90px 0;
}

.about .titlepage {
     text-align: center;
}

.about .titlepage span {
     font-family: 'Open Sans', sans-serif;
}

.about_img {
     margin: 0 46px;
}

.about_img figure {
     margin: 0;
}

.about_img figure img {
     width: 100%;
}

.about_img .read_more {
     margin: 0 auto;
     display: block;
     margin-top: 60px;
}


/** end about section **/


/** using section **/

.using {
     background: #ff3556;
     margin: 0 60px 0 60px;
}

.using .titlepage {
     text-align: left;
     max-width: 554px;
     float: right;
     width: 100%;
     padding-bottom: 0;
}

.using .titlepage h2::before {
     background-color: #fff;
}

.using .titlepage h2 {
     color: #fff;
     padding-bottom: 10px;
}

.using .titlepage p {
     color: #fff;
     font-weight: normal;
     font-family: 'Open Sans', sans-serif;
     font-size: 16px;
     border-bottom: #fff solid 1px;
     padding-bottom: 35px;
     padding-top: 20px;
}

.frout_img {
     background-color: #fff;
}

.using .titlepage .read_more {
     margin-top: 50px;
}

.white_bg:hover {
     background-color: #fff;
     color: #000;
}

.frout_img figure {
     margin: 0;
}

.frout_img figure img {
     width: 100%
}

.padding_right0 {
     padding-right: 0;
}


/** end using section **/


/** our products section **/

.products {
     padding: 60px 0 30px 0;
     margin-bottom: 90px;
     background-color: #f4f4f4;
}

.products .titlepage {
     text-align: left;
}

.our_products {
     padding: 0 15px 15px 15px;
     transition: ease-in all 0.3s;
     margin-bottom: 30px;
}

#ho_bo:hover.our_products {
     box-shadow: 0px 0px 9px rgba(255, 53, 86, 0.33);
     transition: ease-in all 0.3s;
     margin-top: -10px;
     cursor: pointer;
     background-color: #fff;
}

.our_products h3 {
     margin-top: 15px;
     font-size: 22px;
     line-height: 31px;
     color: #000;
     font-weight: 500;
     padding-bottom: 10px;
}

.our_products span {
     font-size: 17px;
     line-height: 20px;
     font-weight: 500;
     color: #ff3556;
}

.our_products p {
     font-size: 15px;
     line-height: 21px;
     font-weight: 400;
     color: #000000;
}

.product {
     background-color: #fff;
     text-align: center;
     margin: 0 -15px 0px -15px !important;
}

.product figure {
     margin: 0;
}

.padding_left0 {
     padding-left: 0;
}


/** end our products section **/


/** gallery  section **/

.gallery {
     padding: 60px 0px 30px 0px;
     margin-top: 90px;
     background-color: #f4f4f4;
}

.gallery .titlepage {
     text-align: center;
}

.gallery .gallery_img {
     overflow: hidden;
     margin-bottom: 30px;
     background-color: #ffffff;
}

.gallery .gallery_img figure {
     margin: 0;
}

.gallery .gallery_img figure img {
     width: 100%;
     transition: all .5s;
}

.gallery .gallery_img figure img:hover {
     transform: scale(1.2);
     cursor: pointer;
}


/** end gallery  section **/


/** contact section **/

.contact {
     background: url(../images/background_co.jpg);
     background-repeat: no-repeat;
     background-size: 100% 100%;
     background-position: center;
     margin-top: 90px;
     padding: 90px 0;
}

.contact .titlepage {
     text-align: left;
}

.contact .titlepage h2 {
     color: #fff;
}

.contact .titlepage h2::before {
     background: #fff;
}

.main_form {
     padding: 33px 80px;
     background: #fff;
}

.main_form .contactus {
     border: #fff solid 1px;
     padding: 0px 20px;
     margin-bottom: 25px;
     width: 100%;
     height: 44px;
     background: #fff;
     color: #dadada;
     font-size: 17px;
     font-weight: normal;
     box-shadow: 0px 0px 18px rgba(22, 22, 23, 0.11);
}

.main_form .textarea {
     border: #fff solid 1px;
     margin-bottom: 25px;
     width: 100%;
     background: #fff;
     color: #dadada;
     font-size: 17px;
     font-weight: normal;
     padding: 25px 20px 0 20px;
     box-shadow: 0px 0px 18px rgba(22, 22, 23, 0.11);
     height: 86px;
}

.main_form .send_btn {
     font-size: 20px;
     transition: ease-in all 0.5s;
     background-color: #000000;
     text-transform: uppercase;
     color: #fff;
     padding: 8px 0px;
     max-width: 144px;
     width: 100%;
     display: block;
     margin-top: 10px !important;
     font-weight: 500;
}

.main_form .send_btn:hover {
     background-color: #ff3556;
     transition: ease-in all 0.5s;
     color: #fff;
}

#request *::placeholder {
     color: #dadada;
     opacity: 1;
}


/** end contact section **/


/** footer **/

.footer {
     background: #000000;
     padding-top: 90px;
     text-align: center;
     margin-top: 90px;
}

.border_top1 {
     border-top: #fff solid 3px;
     padding-bottom: 60px;
}

.newslatter {
     padding-bottom: 60px;
}

.newslatter h4 {
     font-weight: 600;
     font-size: 35px;
     line-height: 25px;
     text-align: center;
     color: #fff;
     padding-bottom: 15px;
}

.newslatter h4::before {
     position: absolute;
     content: "";
     background-color: #fff;
     width: 76px;
     height: 3px;
     bottom: 0px;
}

.bottom_form {
     display: flex;
     flex-wrap: wrap;
     margin-top: 55px;
}

.bottom_form .enter {
     border: inherit;
     padding: 0px 19px;
     width: 64%;
     height: 61px;
     background: #fff;
     color: #d5d2d2;
     font-size: 20px;
     font-weight: 300;
     float: left;
     margin-bottom: 20px;
}

.sub_btn {
     font-size: 17px;
     transition: ease-in all 0.5s;
     background-color: #000;
     color: #fff;
     padding: 5px 0px;
     max-width: 270px;
     width: 100%;
     font-weight: normal;
     text-transform: uppercase;
     height: 61px;
     border: #fff solid 8px;
}

.sub_btn:hover {
     background-color: #ff3556;
     transition: ease-in all 0.5s;
     color: #fff;
}

.footer h3 {
     font-weight: 600;
     font-size: 20px;
     line-height: 24px;
     text-align: left;
     color: #fff;
     margin-bottom: 15px;
     display: table;
     text-transform: uppercase;
}

ul.conta li {
     color: #fff;
     text-align: left;
     padding-bottom: 20px;
     font-size: 16px;
}

ul.conta li i {
     padding-right: 15px;
     text-align: center;
     font-size: 20px;
}

ul.conta li a {
     color: #fff;
}

ul.link_menu li {
     display: block;
     text-align: left;
}

ul.link_menu li.active a {
     color: #ff0909;
}

ul.link_menu li a {
     color: #fff;
     font-size: 17px;
     line-height: 32px;
     display: block;
     width: -moz-max-content;
}

ul.link_menu li a:hover {
     color: #f4a111;
}

.copyright {
     margin-top: 60px;
     background-color: #ff3556;
     box-shadow: 3px 0px 10px rgba(0, 0, 0, 0.42);
}

.many {
     color: #fff;
     font-size: 17px;
     line-height: 32px;
     font-weight: normal;
     text-align: left;
}

.copyright p {
     color: #fff;
     font-size: 17px;
     line-height: 22px;
     font-weight: 400;
     text-align: center;
     padding-top: 26px;
     font-weight: normal;
     padding-bottom: 20px;
}

.copyright a {
     color: #fff;
}

.copyright a:hover {
     color: #000;
}


/** end footer **/


/** end inner page css **/

.inner_page .full_bg {
     background-color: #fff !important;
     background: transparent;
}

.back_re {
     background-color: #6a6767;
     margin-top: 50px;
}

.back_re .title {
     text-align: center;
}

.back_re .title h2 {
     color: #fff;
     font-size: 40px;
     padding: 40px 0;
     font-weight: 600;
     text-transform: uppercase;
     line-height: 35px;
}

.margin_0 {
     margin: 0 !important;
}