$btnBlack: #252525;
$cream: #f2d8b9;
$blue: #f2d8b9;
$white: #ffffff;

@mixin main-font {
  font-family: "Poppins", sans-serif;
}

@mixin secondary-font {
  font-family: "Dosis", sans-serif;
}

@mixin hero_bt($col1, $col2) {
  display: inline-block;
  padding: 10px 35px;
  background-color: $col1;
  border: 1px solid $col1;
  color: $col2;

  &:hover {
    background-color: transparent;
    color: $col1;
  }
}

@mixin upperBold {
  text-transform: uppercase;
  font-weight: bold;
}

body {
  @include main-font;
  color: #000000;
  background-color: #ffffff;
}

.layout_padding {
  padding: 75px 0;
}

.layout_padding2 {
  padding: 45px 0;
}

.layout_padding2-top {
  padding-top: 45px;
}

.layout_padding2-bottom {
  padding-bottom: 45px;
}

.layout_padding-top {
  padding-top: 75px;
}

.layout_padding-bottom {
  padding-bottom: 75px;
}

.custom_heading {
  @include upperBold;
}

/*header section*/
.hero_area {
  height: 98vh;
  background-color: #b5caee;
}

.sub_page {
  .hero_area {
    height: auto;
  }
}

.hero_area.sub_pages {
  height: auto;
}

.header_section {}

.header_section .container-fluid {
  padding-right: 25px;
  padding-left: 25px;
}

.header_section .nav_container {
  margin: 0 auto;
}

.custom_nav-container.navbar-expand-lg .navbar-nav .nav-link {
  padding: 10px 30px;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
}

a,
a:hover,
a:focus {
  text-decoration: none;
}

a:hover,
a:focus {
  color: initial;
}

.btn,
.btn:focus {
  outline: none !important;
  box-shadow: none;
}

.navbar-brand,
.navbar-brand:hover {
  @include upperBold;
  font-size: 24px;
  color: #fafcfd;
}

.custom_nav-container .nav_search-btn {
  background-image: url(../images/search-icon.png);

  background-size: 22px;
  background-repeat: no-repeat;
  background-position-y: 7px;
  width: 35px;
  height: 35px;
  padding: 0;
  border: none;
}

.navbar-brand {
  display: flex;
  align-items: center;
}

.navbar-brand img {
  width: 45px;
  margin-right: 5px;
}

.navbar-brand span {
  font-size: 20px;
  font-weight: 700;
  color: #191919;
  margin-top: 5px;
}

.custom_nav-container {
  z-index: 99999;
  padding: 15px 0;
}

.custom_nav-container .navbar-toggler {
  outline: none;
}

.custom_nav-container .navbar-toggler .navbar-toggler-icon {
  background-image: url(../images/menu.png);
  background-size: 55px;
}

/*end header section*/

/* slider section */
.slider_section {
  padding-top: 8%;
}

.slider_item-box {
  width: 100%;
  height: 100%;
}

.slider_item-box .container {
  height: 100%;
}

.slider_img-box {
  width: 85%;
  margin: 0 auto;
}

.slider_img-box img {
  width: 100%;
}

.slider_item-container {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
}

.slider_item-container .slider_item-detail {}

.slider-btn1 {
  @include hero_bt($cream, $white);
}

.slider-btn2 {
  @include hero_bt($btnBlack, $white);
}

.slider_item-detail h1 {
  font-size: 68px;
  width: 95%;
  text-transform: uppercase;
}

.slider_item-detail p {
  margin: 45px 0;
}

.slider_section #carouselExampleControls,
.carousel-inner,
.carousel-item {
  height: 100%;
}

.slider_section .carousel-control-prev,
.slider_section .carousel-control-next {
  position: absolute;
  top: 50%;
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 100%;
  opacity: 1;
  background-repeat: no-repeat;
  background-size: 10px;
  background-position: center;
  background-color: #f2d8b9;
  transform: translateY(-50%);
}

.slider_section .carousel-control-prev:hover,
.slider_section .carousel-control-next:hover {
  background-color: #ffffff;
}

.slider_section .carousel-control-prev {
  left: 2%;
  background-image: url(../images/prev.png);
}

.slider_section .carousel-control-next {
  right: 2%;
  background-image: url(../images/next.png);
}

/* end slider section */
.bg {
  background-image: url(../images/bg.jpg);
  background-size: cover;
}

// about section
.about_section {
  .row {
    align-items: center;
  }
}

.about_detail-box {
  p {
    margin-top: 30px;
    margin-bottom: 45px;
  }

  a {
    display: inline-block;
    padding: 7px 25px;
    background-color: $btnBlack;
    border: 1px solid $btnBlack;
    color: $white;

    &:hover {
      background-color: transparent;
      color: $btnBlack;
    }
  }
}

.about_img-box {
  img {
    width: 100%;
  }
}

// end about section

// brand section
.brand_section {
  text-align: center;
  background-color: #c1dcf9;

  h3 {
    color: #fcfcfc;
  }

  .brand_item-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
}

.brand_item-box {
  width: 265px;
  margin: 30px 10px 0 10px;
}

.brand_img-box {
  height: 310px;
  background-size: cover;
  background-position: center;
  position: relative;

  &.item-1 {
    background-image: url(../images/item-1.jpg);
  }

  &.item-2 {
    background-image: url(../images/item-2.jpg);
  }

  &.item-3 {
    background-image: url(../images/item-3.jpg);
  }

  &.item-4 {
    background-image: url(../images/item-4.jpg);
  }

  &.item-5 {
    background-image: url(../images/item-5.jpg);
  }
}

.brand_img-box {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;

  a {
    display: none;
    opacity: 0;
    background-color: transparent;
    border: 1px solid #999999;
    color: #f9fafa;
    padding: 12px 35px;
    font-size: 15px;
    z-index: 3;
    transition: opacity 0.4s;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba($color: #252525, $alpha: 0.9);
    z-index: 1;
    transform: translateY(320px);
    transition: transform 0.3s;
  }

  &:hover {
    cursor: pointer;

    &::before {
      transform: translateY(0);
    }

    a {
      display: inline-block;
      opacity: 1;
    }
  }
}

.brand_detail-box {
  margin-top: 20px;

  h5 {
    @include upperBold;
    color: #242425;

    span {
      color: #179dfb;
    }
  }

  h6 {
    @include upperBold;
    color: #fcf9fc;
  }
}

// end about section

// why section
.why_section {
  .row {
    padding: 35px 0;

    .col-md-6 {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 25px 0;
    }
  }

  .img_box {
    min-width: 125px;
    min-height: 125px;
    margin-right: 25px;
    border: 1.5px solid #e3e2e2;
    border-radius: 7px;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      width: 50px;
    }
  }

  .detail_box {
    h5 {
      font-weight: bold;
      color: #4b9df9;
    }
  }
}

// end why section

// client section
.client_section {
  .row {
    padding: 25px 0;

    .col-12 {
      display: flex;
    }
  }

  .detail_box {
    min-width: 150px;
    margin-right: 25px;
    text-align: center;

    img {
      width: 100%;
    }

    h5 {
      font-weight: bold;
    }

    h6 {
      color: #0b3275;
    }

    .name_box {
      margin-top: 15px;
    }
  }

  .detail_text {
    padding-top: 10px;
  }
}

.client_section {

  #carouselExampleControls,
  .carousel-inner,
  .carousel-item {
    height: 100%;
  }

  .carousel-control-prev,
  .carousel-control-next {
    position: absolute;
    top: 50%;
    width: 50px;
    height: 45px;
    border: none;
    opacity: 1;
    background-repeat: no-repeat;
    background-size: 10px;
    background-position: center;
    background-color: #c1dcf9;
    transform: translateY(-50%);
  }

  .carousel-control-prev:hover,
  .carousel-control-next:hover {
    background-color: #f2d8b9;
  }

  .carousel-control-prev {
    left: 2%;
    background-image: url(../images/prev.png);
  }

  .carousel-control-next {
    right: 2%;
    background-image: url(../images/next.png);
  }
}

// end client section

// contact section
.contact_section {
  color: #fff;
  background: linear-gradient(rgba($color: #000, $alpha: 0.3),
      rgba($color: #000, $alpha: 0.3)),
    url(../images/contact.jpg);
  background-size: cover;
  background-repeat: no-repeat;

  input {
    width: 100%;
    border: 0;
    border-bottom: 1px solid #ffffff;
    height: 40px;
    padding-top: 45px;
    padding-bottom: 20px;
    background-color: transparent;
    outline: none;
    color: #fff;

    &::placeholder {
      color: #fff;
    }

    &.message-box {
      padding-top: 135px;
    }
  }

  button {
    background-color: #179dfb;
    padding: 12px 55px;
    outline: none;
    border: none;
    border: 1px solid #179dfb;
    color: #fff;

    &:hover {
      color: #179dfb;
      background-color: transparent;
    }
  }
}

// end contact section

// info section
.info_section {
  background-color: #c1dcf9;
}

.info_items {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;

  .item {
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    .img-box {
      width: 80px;
      height: 80px;
      border-radius: 100%;
      background-color: #ffffff;
      background-repeat: no-repeat;
      background-position: center;
    }

    .detail-box {
      margin-top: 25px;
      color: #fff;
    }
  }
}

.info_items {
  position: relative;

  a {
    position: relative;
  }

  &::before {
    content: "";
    position: absolute;
    top: 25%;
    width: 80%;
    height: 1px;
    background-color: #fff;
    left: 50%;
    transform: translateX(-50%);
  }
}

.info_items {
  .item {
    .img-box {
      &.box-1 {
        background-image: url(../images/location-blue.png);
      }

      &.box-2 {
        background-image: url(../images/telephone-blue.png);
      }

      &.box-3 {
        background-image: url(../images/envelope-blue.png);
      }

      &:hover {
        background-color: #179dfb;

        &.box-1 {
          background-image: url(../images/location-white.png);
        }

        &.box-2 {
          background-image: url(../images/telephone-white.png);
        }

        &.box-3 {
          background-image: url(../images/envelope-white.png);
        }
      }
    }
  }
}

// end info section

/* footer section*/

.footer_section {
  background-color: #273135;
  padding: 20px;
  @include secondary-font;
  font-weight: 500;
}

.footer_section p {
  color: #fbfcfd;
  margin: 0;
  text-align: center;
}

.footer_section a {
  color: #fbfcfd;
}

/* end footer section*/